*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

header{
    background-color: #bfd1d6;
    box-shadow: 0 4px 6px #586c77;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color:#586c77;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-links{
    display:flex;
    list-style: none;

}

.nav-links li{
    margin-left: 2rem;
}

.nav-links a{
    color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-links a:hover{
    color:rgb(0, 129, 235);
}

main{
    margin-top: 5rem;
}

section{
    padding: 6rem 0;
}

.dev-img img{
    width: 267px;
    height: 267px;
    border-radius: 50%;
    margin-left: 200px;
    border: 5px solid #586c77;
}

.dev{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.dev-txt h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color:#586c77;
}

.dev-txt h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.dev-txt p{
    font-size: 1.23rem;
    margin-bottom: 2rem;
}

.bt-contato{
    background-color: #586c77;
    color: #bfd1d6;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
}

.skills-item{
    background-color: #bfd1d6;
    box-shadow: 0 4px 6px #586c77;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

h2{
    margin-top: 50px;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem;
    color:#586c77;
}

.img1 img{
    width: 320px;
    border-radius: 5px;
    height: 175px;
}

.img1{
    text-align: center;
}

.img2 img{
    width: 320px;
    border-radius: 5px;
    height: 175px;
}

.img2{
    text-align: center;
}

.img3 img{
    border-radius: 5px;
    width: 320px;
    height: 175px;
}

.img3{
    text-align: center;
}

.projetos-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax (300px,1fr));
    align-items: center;
}

.projeto-card{
    background-color: #bfd1d6;
    border-radius: 10px;
    box-shadow: 0 4px 6px #586c77;
    padding: 1.5rem;
}

.titulo-projeto{
    text-align: center;
    color:#586c77
}

.projeto-card p{
    text-align: center;
}

.projeto-tags{
    text-align: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.projeto-tags span{
    background-color: #e24545;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 20px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    align-items: center;
}

.contato{
    margin-top: 100px;
    background-color: #586c77;
    color: white;
}

.contato-form{
    max-width: 600px;
    margin: 0 auto;
}

.gp-form{
    margin-bottom: 1.5rem;
}

label{
    margin-bottom: 0.5rem;
    display: block;
}

input, textarea{
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    padding: 0.75rem;
    border-radius: 5px;
    color: white;
    width: 100%;
}

button{
    background-color: #e24545;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.titulo-ctt{
    color: white;
}

footer img{
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin-top: 30px;
    text-align: center;
}